$gray: #797979;

.input {
	@apply relative block mb-4;

	> input {
		@apply pb-2 w-full border-b;
	}

	&::placeholder {
		color: $gray;
	}
}

.error {
	@apply absolute -bottom-3 left-0 w-full text-primary;
	font-size: 0.5rem;
}
