.wrapper {
	@apply relative inline-flex;

	.form {
		@apply block shadow-lg p-4 absolute right-2 animate-scaleIn w-44 z-20 bg-white;
		top: calc(100% + 1.4rem);

		.registerBtn {
			@apply opacity-40 block text-center w-full;
			font-size: 0.7rem;
		}
	}
}
